<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AppiumTestNGExample" verbose="2">
   <!-- preserve-order=true ensures that the order is  -->
   <test name="AppiumTestNGExample" preserve-order="true">
      <!-- Test level parameters, visible to all classes of Test -->
      <parameter name = "userName" value="company"/>
      <classes>
         <class name="io.appium.testng.AppiumTestNGExampleTest">
            <methods>
               <include name="makePaymentTest" />
               <include name="balanceTest" >
                  <!-- Test Method Level Parameter -->
                  <parameter name = "expectedBalance" value="90"/>
               </include>
            </methods>
         </class>
      </classes>
   </test>

</suite>